:root {
    --accent-color: #94CFFF;
    --main-color: #26C7EA;
    --text-color: #141414;
    --white: #ffffff;
}
body {
    font-family: HeadlandOne;
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.list {
    list-style: none;
    padding: 0;
}
.link {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    border-bottom: 3px solid #FFF;
    background-image: linear-gradient(rgba(43, 74, 97, 0.87), 
    rgba(43, 74, 97, 0.87)), url(../images/header_bg.jpg);
    background-repeat: no-repeat;
}
.nav-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.nav-item {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
}
.nav-item:hover :focus {
    color: #94CFFF;
    font-weight: 600;
}
.nav-item:focus {
    color: #94CFFF;
    font-weight: 600;
}
.nav-item-link {
    color: #FFF;
}
.logo-btn {
    color: #26C6EA;
    font-size: 20px;
    line-height: normal;
    width: 141px;
    height: 41.694px;
    border-radius: 35px 0 35px 0;
    border: 3px solid #26C7EA;
    background: #0B0E66;
}
.language-change {
    display: flex;
    justify-content: end;
}
.language {
    color: #FFF;
    font-family: Hammersmith One;
    line-height: normal;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.hero {
    background-image: url(../images/hero_bg.jpg);
    display: flex;
    flex-wrap: wrap;
    width: 1460px;
    height: 740px;
}
.hero-text {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    line-height: normal;
    width: 298px;
    height: 96px;
    margin-bottom: 40px;
}
.hero-text:nth-child(1) {
    margin-top: 180px;
}
.hero-btn {
    color: #26C7EA;
    font-size: 24px;
    line-height: normal;
    width: 260px;
    height: 80px;
    border-radius: 45px 0px;
    border: 3px solid #26C7EA;
    background: #0B0E66;
    margin-top: 42px;
    /* Двигайся блин!!! */
}
.quotation-text {
    color: #0A3853;
    text-align: justify;
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
}
.quotation-author { 
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    line-height: normal;
}
.trailer {
    width: 1440px;
    height: 741px;
    display: flex;
    justify-content: center;
    /* почему то кнопки не хотят 
    переноситься нормально, 
    не знаю почему */
}
.trailer-btn {
    color: #26C7EA;
    font-size: 24px;
    line-height: normal;
    width: 260px;
    height: 80px;
    border-radius: 45px 0px;
    border: 3px solid #26C7EA;
    background: #0B0E66;
}
.language-learning {
    background-color: #0A3853;
}
.language-learning-subtitle {
    color: #141414;
    text-align: center;
        font-size: 32px;
        font-weight: 400;
        line-height: normal;
}
.language-learning-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.language-learning-item {
    color: #141414;
    font-size: 24px;
    line-height: 100%;
    width: 320px;
    height: 240px;
    background: rgba(255, 255, 255, 0.70);
}
.footer-list {
    display: flex;
    justify-content: center;
    background-color: #94CFFF;
}
.footer-text {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    line-height: normal;
}
.footer-link {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    line-height: normal;
}
.footer-licenses {
    display: flex;
    justify-content: center;
    /* Да емае почему оно не хочет разделиться!? */
}