:root {
    --accent-color: #94CFFF;
    --main-color: #26C7EA;
    --text-color: #141414;
    --white: #ffffff;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: HeadlandOne;

}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.list {
    list-style: none;
    padding: 0;
}
.link {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    border-bottom: 3px solid #FFF;
    background-image:
        linear-gradient(rgba(43, 74, 97, 0.87),
        rgba(43, 74, 97, 0.87)),
        url(../images/header_footer_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 39px;
    padding-bottom: 39px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}
.header .container {
    display: flex;
    align-items: center;
}
.avatar-logo {
    margin-right: 168px;
}
.nav-list {
    display: flex;
    gap: 38px;
}
.nav-item {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
}
.nav-item:hover,
.nav-item:focus {
    color: #94CFFF;
    font-weight: 600;
}
.nav-item-link {
    color: #FFF;
}
.nav-item-link:focus,
.nav-item-link:hover {
    color: var(--accent-color);
}
.logo-btn {
    color: #26C6EA;
    font-size: 20px;
    line-height: normal;
    width: 141px;
    height: 41.694px;
    border-radius: 35px 0 35px 0;
    border: 3px solid #26C7EA;
    background: #0B0E66;
    margin-left: 121px;
}
.logo-btn:hover,
.logo-btn:focus {
    cursor: pointer;
    opacity: 0.9;
}
.language-change {
    display: flex;
    margin-left: auto;
}
.language {
    color: #FFF;
    font-family: Hammersmith One;
    line-height: normal;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.language:hover,
.language:focus {
    cursor: pointer;
    opacity: 0.9;
}
.hero .container {
    display: flex;
    justify-content: space-between;
}
.hero {
    background-image: url(../images/hero_bg.jpg);
    padding-top: 330px;
    padding-bottom: 179px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.hero-wrapper {
    width: 298px;
}
.hero-text {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    line-height: normal;
}
.hero-img {
    margin-left: 53px;
}
.hero-btn {
    color: #26C7EA;
    font-size: 24px;
    line-height: normal;
    width: 260px;
    height: 80px;
    border-radius: 45px 0px;
    border: 3px solid #26C7EA;
    background: #0B0E66;
    margin-top: 42px;
}
.hero-btn:focus,
.hero-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}
.hero-list {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 27px;
    margin-top: 100px;
}
.quotation {
    padding-top: 75px;
}
.quotation-text {
    color: #0A3853;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    line-height: normal;
    margin-bottom: 16px;
}
.quotation-author {
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    line-height: normal;
    padding-bottom: 10px;
}
.quotation-author::after {
    content: '';
    display: block;
    background-image: url(../images/decoration_2.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 400px;
    height: 120px;
    margin: 0 auto;
}
.trailer {
    background-image: url(../images/trailer_bg.jpg);
    background-size: cover;
    padding-top: 330px;
    padding-bottom: 330px;
}
.trailer-btn {
    color: #26C7EA;
    font-size: 24px;
    line-height: normal;
    width: 260px;
    height: 80px;
    border-radius: 45px 0px;
    border: 3px solid #26C7EA;
    background: #0B0E66;
    display: block;
    margin: 0 auto;
}
.trailer-btn:hover,
.trailer-btn:focus {
    cursor: pointer;
    opacity: 0.9;
}
.language-learning {
    background-image: url(../images/language_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 57px;
}
.language-learning-subtitle {
    color: #141414;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    padding-top: 58px;
    padding-bottom: 45px;
}
.language-learning-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.language-learning-item {
    color: #141414;
    font-size: 24px;
    line-height: 100%;
    flex-basis: 320px;
    background: rgba(255, 255, 255, 0.70);
    text-align: center;
    padding-top: 36px;
    padding-bottom: 36px;
}
.language-learning-item:nth-child(3n) .language-learning-item-ua::after {
    transform: rotate(180deg);
}
.language-learning-item:nth-child(3n + 2) .language-learning-item-ua::after {
    background-image: url("../images/decoration_4.svg");
    background-position: center;
    background-size: contain;
}
.language-learning-item-ua::after {
    content: "";
    display: block;
    margin: 40px auto;
    width: 152px;
    height: 40px;
    background-image: url("../images/decoration_3.svg");
}
.footer {
    background-image:
        linear-gradient(rgba(43, 74, 97, 0.87),
        rgba(43, 74, 97, 0.87)),
        url(../images/header_footer_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 25px;
}
.footer-wrapper {
    display: flex;
    gap: 160px;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
}
.footer-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.footer-text {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    line-height: normal;
    width: 396px;
}
.footer-link {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    line-height: normal;
}
.footer-link:focus,
.footer-link:hover {
    color: var(--accent-color);
}
.footer-licenses {
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    line-height: normal;
}
.scroll-btn {
    position: fixed;
    padding: 18px;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: block;
    bottom: 20px;
    right: 20px;
}
.scroll-btn::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-width: 0 3px 3px 0;
    border-color: #fff;
    border-style: solid;
    transform: rotate(-135deg);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 250ms linear;
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.no-scroll {
    overflow: hidden;
}
.modal-join {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 600px;
    min-height: 404px;
    padding: 15px;
    background-color: skyblue;
    transform: translate(-50%, -50%);
}
.modal-join-btn-close {
    border: none;
    background: none;
}
.modal-join-icon {
    fill: rgb(11, 14, 102);
}
.modal-join-input {
    border: 2px solid rgb(11, 14, 102);
}
.modal-join-btn {
    color: #26C7EA;
    font-size: 24px;
    line-height: normal;
    width: 260px;
    height: 80px;
    border-radius: 45px 0px;
    border: 3px solid #26C7EA;
    background: #0B0E66;
}